**Faça um modelo Apriori com uma base de transações de mercado**

1) Descreva os Resultados apresentados pelo modelo

2) Você fez uma classificação, agrupamento, regressão ou criação de regras de associação?

3) A análise que você fez é supervisionada ou não-supervisionada?

4) Quais são os pares de itens que mais aparecem juntos nas transações? Qual métrica define isso?

5) Se você fosse gerente de supermercado, como usaria essas regras para criar uma campanha de vendas?

6) Como uma empresa de streaming poderia utilizar este mesmo modelo para aumentar a quantidade de views de uma série?

In [48]:
transactions = [
    ['maçã', 'banana', 'laranja', 'morango'],
    ['maçã', 'uva', 'abacate'],
    ['banana', 'laranja', 'abacaxi', 'pêssego'],
    ['uva', 'abacaxi', 'mamão'],
    ['maçã', 'banana', 'abacaxi', 'morango'],
    ['laranja', 'uva', 'abacaxi', 'mamão'],
    ['maçã', 'abacaxi', 'morango', 'pêssego'],
    ['maçã', 'uva', 'laranja', 'morango'],
    ['banana', 'abacate', 'pêssego'],
    ['laranja', 'abacaxi', 'mamão'],
    ['maçã', 'banana', 'abacaxi', 'morango', 'abacate'],
    ['laranja', 'uva', 'abacaxi', 'mamão', 'pêssego'],
    ['maçã', 'abacaxi', 'morango', 'pêssego', 'mamão'],
    ['maçã', 'uva', 'laranja', 'morango', 'abacate'],
    ['banana', 'abacate', 'pêssego', 'mamão'],
    ['laranja', 'abacaxi', 'mamão', 'abacate'],
    ['maçã', 'banana', 'abacaxi', 'morango', 'pêssego', 'mamão'],
    ['laranja', 'uva', 'abacaxi', 'mamão', 'abacate', 'pêssego'],
    ['maçã', 'abacaxi', 'morango', 'pêssego', 'mamão', 'abacate']
]

In [49]:
#importando as bibliotecas necessárias
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd

In [50]:
# essa biblioteca é necessária para converter a lista de transações em um formato adequado
from mlxtend.preprocessing import TransactionEncoder

In [51]:
# aqui eu to aplicando o TransactionEncoder para transformar a lista de transações em um DataFrame
# e assim poder usar o apriori e association_rules
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

    abacate  abacaxi  banana  laranja  mamão   maçã  morango  pêssego    uva
0     False    False    True     True  False   True     True    False  False
1      True    False   False    False  False   True    False    False   True
2     False     True    True     True  False  False    False     True  False
3     False     True   False    False   True  False    False    False   True
4     False     True    True    False  False   True     True    False  False
5     False     True   False     True   True  False    False    False   True
6     False     True   False    False  False   True     True     True  False
7     False    False   False     True  False   True     True    False   True
8      True    False    True    False  False  False    False     True  False
9     False     True   False     True   True  False    False    False  False
10     True     True    True    False  False   True     True    False  False
11    False     True   False     True   True  False    False     True   True
12    False     True   False    False   True   True     True     True  False
13     True    False   False     True  False   True     True    False   True
14     True    False    True    False   True  False    False     True  False
15     True     True   False     True   True  False    False    False  False
16    False     True    True    False   True   True     True     True  False
17     True     True   False     True   True  False    False     True   True
18     True     True   False    False   True   True     True     True  False

In [55]:
# 
frequent_itemsets = apriori(df, min_support=0.4, use_colnames=True)
frequent_itemsets

    support          itemsets
0  0.421053         (abacate)
1  0.684211         (abacaxi)
2  0.473684         (laranja)
3  0.526316           (mamão)
4  0.526316            (maçã)
5  0.473684         (morango)
6  0.473684         (pêssego)
7  0.473684  (abacaxi, mamão)
8  0.473684   (morango, maçã)

In [56]:
# Gera regras de associação do tipo:
# Se item a está presente, então item b também está presente com uma confiança mínima de 70%
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.9)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(mamão),(abacaxi),0.526316,0.684211,0.473684,0.9,1.315385,1.0,0.113573,3.157895,0.506173,0.642857,0.683333,0.796154
1,(morango),(maçã),0.473684,0.526316,0.473684,1.0,1.900000,1.0,0.224377,inf,0.900000,0.900000,1.000000,0.950000
2,(maçã),(morango),0.526316,0.473684,0.473684,0.9,1.900000,1.0,0.224377,5.263158,1.000000,0.900000,0.810000,0.950000